
<a class="component-container-std col-sm-12 col-md-6 col-lg-4" href="/component/{{ component.link }}">
    <div class="component-headline">
        <h2>{{ component.title }}</h2>
    </div>
    {{ component.description }}
</a>