<div class="card bg-light">
    <img src="{{ asset('/img/placeholder.jpg') }}" alt="placeholder" class="rounded float-right">
    <div class="card-body">
        <h2 class="card-title">{{ component.name }}</h2>
        <p class="card-text">{{ component.description }}</p>
        <a href="/component/{{ component.link }}" class="btn btn-primary">Read More</a>
    </div>
</div>