<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#view">Ansicht</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#edit">Bearbeiten</a>
    </li>
</ul>
<div class="tab-content">
    <div id="view" class="container tab-pane active"><br>
        {% include '03-organisms/component-view-form.html.twig' with {'component': component } %}
    </div>
    <div id="edit" class="container tab-pane fade edit-container"><br>
        {% include '03-organisms/component-edit-form.html.twig' with {'form': form } %}
    </div>
</div>