{% extends "04-templates/base.html.twig" %}

{% block title %}Category {{ category.name }}{% endblock %}
{% block content %}
    <h1>Category {{ category.name }}</h1>
    <div class="card-columns">
        {% for component in components %}
            {% include '03-organisms/component-card.html.twig' with { 'component': component } %}
        {% endfor %}
    </div>
{% endblock %}