{% extends "04-templates/base.html.twig" %}

{% block title %}Components{% endblock %}
{% block content %}
    <p>Create A New Component ?
    <a class="new-label" href="/components/new">New Component</a>
    </p>
    {% for container in containers %}
        {% include '03-organisms/text-container.html.twig' with {'title': container.title, 'prefix': container.prefix, 'buttons': container.content } %}
    {% endfor %}
{% endblock %}
