{% extends "04-templates/base.html.twig" %}

{% block title %}Components{% endblock %}
{% block content %}
    <p><span>Create A New Component ?</span>
    <a class="btn btn-info" href="/components/new">New Component</a>
    </p>
    <div class="row">
    {% for container in containers %}
        {% include '02-molecules/text-container.html.twig' with {'title': container.name, 'prefix': container.prefix, 'buttons': container.content } %}
    {% endfor %}
    </div>
{% endblock %}
