{% extends "04-templates/base.html.twig" %}

{% block title %}Component{% endblock %}
{% block content %}
    <div class="view-container">
        <h1>{{ component.title }}</h1>
        <p>{{ component.description }}<p>
    </div>
{% endblock %}
