{% extends "04-templates/base.html.twig" %}

{% block title %}Projects{% endblock %}
{% block content %}
    <div class="view-container">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}<p>
    </div>
{% endblock %}
