{% extends "04-templates/base.html.twig" %}

{% block title %}Projects{% endblock %}
{% block content %}
    {% include '02-molecules/flash-messages.html.twig' with {'flashes': app.flashes} %}
    <div class="card-columns ">
        <div class="card bg-info">
            <img src="{{ asset('/img/placeholder.jpg') }}" alt="placeholder" class="rounded float-right">
            <div class="card-body">
                <h2 class="card-title">New</h2>
                <p class="card-text">Create a New Project.</p>
                <a href="/project/new" class="btn btn-primary">Read More</a>
            </div>
        </div>
        {% for project in projects %}
            {% include '02-molecules/project-card.html.twig' with {'project': project } %}
        {% endfor %}
    </div>
{% endblock %}
