
$fa-font-path: '~font-awesome/fonts';

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";

#content {
    margin: 40px;
}

.view-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}