
$fa-font-path: '~font-awesome/fonts';

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";

#content {
    margin: 40px;
}
.text-container {
    display: flex; 
    flex-wrap: wrap;
    height: 20vw;
    border: 4px solid lightblue;
    border-radius: 8px;
    margin: 1px;
    padding: 10px;
}
%text-button {
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    height: 40px;
    text-decoration: none;
    color: black;
    opacity: 0.8; 
}
%text-button-hover {
    opacity: 1; 
    text-decoration: none;
    color: black;
}
.text-label {
    @extend %text-button;
    background: lightcoral;
    border: 4px solid lightcoral;
}
.new-label {
    @extend %text-button;
    background: lightgray;
    border: 4px solid lightgray;
}
.text-label:hover {
    @extend %text-button-hover;
}
.new-label:hover {
    @extend %text-button-hover;
}

/* /project */
%project-container {
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    height: 250px;
    text-decoration: none;
    color: black;
    opacity: 0.8; 
}
.project-container-std {
    @extend %project-container;
    background: lightblue;
    border: 4px solid lightblue;
}
.project-container-new {
    @extend %project-container;
    background: lightgray;
    border: 4px solid lightgray;
}

%project-container-hover {
    opacity: 1; 
    text-decoration: none;
    color: black;
}

.project-container-std:hover {
    @extend %project-container-hover;
}

.project-container-new:hover {
    @extend %project-container-hover;
}

.project-headline {
    border-bottom: 2px solid  black;
}
.view-container {
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    height: 8000px;
}