
$fa-font-path: '~font-awesome/fonts';

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";

// main
#content {
    margin: 40px;
}

// cards
.view-cards {
    width: 600px;
}

.view-thumbnail {
    width:  200px;
    height: 200px;
}