{% extends "base.html.twig" %}

{% block title %}Database{% endblock %}
{% block content %}
    <h2>Categories</h2>
    <div class="text-container">
        <a class="text-button text-label" href="/database/test-cat">test-cat</a>
        <a class="text-button new-label" href="/database/new-cat">New Categorie</a>
    </div>
    <h2>Tags</h2>
    <div class="text-container">
        <a class="text-button text-label" href="/database/test-tag">test-tag</a>
        <a class="text-button new-label" href="/database/test-tag">New Tag</a>
    </div>
{% endblock %}
