{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Database</h1>
    <h2>Categories</h2>
    <div class="text-container">
        <a class="text-button text-label"  href="/projects/test-cat">test-cat</a>
        <a class="text-button new-label"  href="/projects/new-cat">New Categorie</a>
    </div>
    <h2>Tags</h2>
    <div class="text-container">
        <a class="text-button text-label" href="/projects/test-tag">test-tag</a>
        <a class="text-button new-label" href="/projects/test-tag">New Tag</a>
    </div>
{% endblock %}
