{% extends "04-templates/base.html.twig" %}

{% block title %}Unknown error occurred{% endblock %}
{% block content %}
<div class="alert alert-danger">
    <h1>Unknown error occurred</h1>
    <p>
        The requested page couldn't be reached.
        <a href="{{ path('dashboard') }}">Return to the dashboard</a>.
    </p>
</div>
{% endblock %}